[Desktop Entry]
Encoding=UTF-8
Name=Replay Kit
Comment=WebArchive Replay Application (Wacz)
Exec=__PREFIX__/bin/replay-kit
Icon=__PREFIX__/share/icons/Adwaita/symbolic/status/media-playlist-repeat-symbolic.svg
Type=Application
MimeType=application/zip;
Categories=Development;
